services:
  asciinema:
    image: ghcr.io/asciinema/asciinema-server:20250915
    ports:
      - '4000:4000'
    environment:
      - SECRET_KEY_BASE=  # <- see below
      - URL_HOST=127.0.0.1
      - URL_PORT=4000
      - SMTP_HOST=smtp.example.invalid
      - SMTP_USERNAME=foo
      - SMTP_PASSWORD=bar
    volumes:
      - asciinema_data:/var/opt/asciinema
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: docker.io/library/postgres:14
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 2s
      timeout: 5s
      retries: 10

volumes:
  asciinema_data:
  postgres_data:
